@import url("../src/fonts.googleapis.com/css2?family=Quicksand");

@font-face {
  font-family: 'Quicksand';
  src: url('./Quicksand.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Quicksand", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(#303b37, #1a1f1d);
  color: #e1eeeb;
  min-height: 100vh;
}

.center {
  text-align: center;
}
